/**
 *  COLOR SCHEME
 */
$white: #ffffff;
$black: #000000;
$light_grey: #80808014;
$dim_grey: #495057;
$dim_cream: #ced4da;
$red: #dc3545;
$red_light: #dc354559;
$dark_blue: #374353;
$sky_blue: #4689f3;
$dim_sky_blue: #80bdff;
$light_sky_blue: #fafbff;
$light_sky_blue_shadow: #4689f336;
