/**
 *  Color Scheme
 */
$white: #ffffff;
$black: #000000;
$light_grey: #80808014;
$red: #dc3545;
$red_light: #dc354559;
$dark_blue: #374353;
$sky_blue: #4689f3;
$light_sky_blue: #fafbff;
$light_sky_blue_shadow: #4689f336;

// the :export directive is the magic sauce for webpack
:export {
  Black: $black;
  White: $white;
}
